.popular{
    img{
        width: 200px;
        height: auto;
        border-radius: 15px;
    }
}
@media screen and (max-width: 768px){
    .popular{
        margin: 50px 20px;
        img{
            width: 100%;
        }
    }
}